CONFIG_IDF_TARGET="esp32s3"

# use for otbr option
CONFIG_LWIP_IPV6_NUM_ADDRESSES=8

CONFIG_ESPTOOLPY_NO_STUB=y

CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=4096
CONFIG_ESP32_PTHREAD_TASK_STACK_SIZE_DEFAULT=4096

CONFIG_ESP32_WIFI_CSI_ENABLED=y

# for this function in matter -> System::SystemClock().GetClock_RealTimeMS(cTMs);
CONFIG_ENABLE_SNTP_TIME_SYNC=y

# for matter
CONFIG_EXAMPLE_DEVICE_INSTANCE_INFO_PROVIDER=n
CONFIG_CUSTOM_DEVICE_INSTANCE_INFO_PROVIDER=y
CONFIG_NONE_DEVICE_INFO_PROVIDER=n
CONFIG_CUSTOM_DEVICE_INFO_PROVIDER=y